/* Thin scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 999px;
}

/* Firefox */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #333 transparent;
}
